.mainContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    height: 1824px;
    line-height: 18px;
    margin: 0px 124px;
    max-width: 935px;
    padding: 30px 20px 0px;
    width: 935px;
}