nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.95rem;
    border-bottom: 1px solid lightgrey;
    input {
        text-align: center;
        padding: 3px 10px 3px 26px;
        border: 1px solid rgb(219, 219, 219);
        border-radius: 3px;
    }
}